@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.title{
  font-family: UnifrakturCook, serif;
}

.custom-scrollable {
  overflow-y: auto;
  max-height: 80vh; /* 80% of the viewport height */
}

.video-container video {
  width: 100%;
  max-height: 60vh;  /* or set a specific max-height value */
  object-fit: contain;
}

/* In your CSS file */
.chart-container {
  width: 100%;
}

.break-word {
  white-space: pre-wrap;      /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* Internet Explorer 5.5+ */
  overflow-wrap: break-word;  /* CSS3 */
}